/*
    -------------------------------------------------------------------
    Form styles
    -------------------------------------------------------------------
*/
form {
    background: #fff;
    padding: 1em 1.25em;
    border: solid 1px #ccc;
    border-radius: .25em;
    }

label {
    vertical-align: middle;
}
